{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "chrome": "87",
        "edge": "88",
        "firefox": "78",
        "safari": "14"
      }
    }]
  ],
  "plugins": ["@babel/plugin-syntax-top-level-await"]
}
