node_modules/
.vscode/
.env*
.env.local
.env.mis
.DS_Store

public/dist/

public/rollback/base-issues.json
public/atlassian-connect.json
/playwright/report/
/playwright/test-results/
/playwright/.cache/
/blob-report/
