

.color-bg-complete {
	background-color: var(--complete-color);
}
.color-bg-ontrack {
	background-color: var(--ontrack-color);
}
.color-bg-behind {
	background-color: var(--behind-color);
}
.color-bg-unknown {
	background-color: var(--unknown-color);
}
.color-bg-notstarted {
	background-color: var(--notstarted-color);
}
.color-bg-blocked {
	background-color: var(--blocked-color);
}

.color-bg-complete {
	background-color: var(--complete-color);
}
.color-bg-ontrack {
	background-color: var(--ontrack-color);
}
.color-bg-behind {
	background-color: var(--behind-color);
}
.color-bg-unknown {
	background-color: var(--unknown-color);
}
.color-bg-notstarted {
	background-color: var(--notstarted-color);
}
.color-bg-blocked {
	background-color: var(--blocked-color);
}
.color-bg-sky-100 {
	background-color: var(--sky-100-color)
}

.color-text-complete {
	color: var(--complete-color);
}
.color-text-ontrack {
	color: var(--ontrack-color);
}
.color-text-behind {
	color: var(--behind-color);
}
.color-text-unknown {
	color: var(--unknown-color);
}
.color-text-notstarted {
	color: var(--notstarted-color);
}
.color-text-blocked {
	color: var(--blocked-color);
}
.color-text-black {
	color: var(--black-color);
}

.color-text-and-bg-complete {
	background-color: var(--complete-color);
	color: var(--white-color);
}
.color-text-and-bg-ontrack {
	background-color: var(--ontrack-color);
	color: var(--white-color);
}
.color-text-and-bg-behind {
	background-color: var(--behind-color);
	color: var(--black-color);
}
.color-text-and-bg-unknown {
	background-color: var(--unknown-color);
	color: var(--black-color);
	opacity: 0.4;
}
.color-text-and-bg-notstarted {
	background-color: var(--notstarted-color);
	color: var(--white-color);
}
.color-text-and-bg-blocked {
	background-color: var(--blocked-color);
	color: var(--white-color);
}

.color-border-slate-900 {
	border-color: var(--slate-900-color);
}

.color-gray-900 {
	color: #111928;
}
.color-bg-white {
	background-color: var(--white-color);
}
.color-bg-sky-60 {
	background-color: rgb(243 247 253);
}

.color-bg-slate-300 {
	background-color: var(--slate-300-color)
}

.color-bg-even-slate-300 > *:nth-child(even) {
	background-color: var(--slate-300-color)
}

.drop-shadow-sm {
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .3);
}

.drop-shadow-md {
	box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}
