.font-mono {
	font-family: var(--font-mono);
}

.font-sans {
	font-family: var(--font-sans);
}

.font-bold {
	font-weight: 700;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-sm {
	font-size: 0.875rem; /* 14px */
	line-height: 1.25rem; /* 20px */
}

.text-xs {
	font-size: var(--space-3); /* 12px */
	line-height: var(--space-4); /* 16px */
}


.no-underline {
	text-decoration-line: none;
}
