.py-0px {
	padding-top: var(--space-0px);
	padding-bottom: var(--space-0px);
}

.px-1px {
	padding-left: var(--space-1px);
	padding-right: var(--space-1px);
}


.p-2 {
	padding: var(--space-2);
}
.p-3 {
	padding: var(--space-3);
}
.p-4 {
	padding: var(--space-4);
}

.py-half {
	padding-top: var(--space-half);
	padding-bottom: var(--space-half);
}

.py-1 {
	padding-top: var(--space-1);
	padding-bottom: var(--space-1);
}

.py-2 {
	padding-top: var(--space-2);
	padding-bottom: var(--space-2);
}
.py-6 {
	padding-top: var(--space-6);
	padding-bottom: var(--space-6);
}

.m-0 {
	margin: 0px;
}

.mt-2 {
	margin-top: var(--space-2);
}

.my-1 {
	margin-top: var(--space-1);
}

.my-2 {
	margin-top: var(--space-2);
}

.gap-3 {
	gap: var(--space-3);
}

.mb-10 {
	margin-bottom: var(--space-10);
}


.border-1px {
	border-width: var(--space-1px);
}

.w-full {
	width: 100%;
}

.w-full-border-box {
	width: 100%;
	box-sizing: border-box;
}
.h-1 {
	height: var(--space-1);
}
.h-2 {
	height: var(--space-2);
}
.h-4 {
	height: var(--space-4);
}
.h-6 {
	height: var(--space-6);
}
.h-10 {
	height: var(--space-10);
}
.w-1280 {
	width: 1280px;
}
.h-780 {
	height: 780px;
}


/* LAYOUT */
.place-center {
  margin: 0 auto;
}
.border-box {
	box-sizing: border-box;
}
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}
.inline {
	display: inline;
}

.overflow-hidden {
	overflow: hidden;
}
.border-collapse {
	border-collapse: collapse;
}
/** LAYOUYT **/
.flex {
	display: flex;
}
.flex-grow {
	flex-grow: 1;
}
.grid {
	display: grid;
}
.self-start {
	align-self: flex-start;
}


.text-center {
	text-align: center;
}

.border-y-solid-1px {
	border-top: solid var(--space-1px) rgba(255,255,255,0);
	border-bottom: solid var(--space-1px) rgba(255,255,255,0);
}

/* Mixing color and size */
.border-solid-1px-slate-900 {
	border-style: solid;
	border-width: var(--space-1px);
	border-color: var(--slate-900-color);
}

.border-b-solid-2px-slate-900 {
	border-bottom: solid var(--space-2px) var(--slate-900-color);
}

.border-l-solid-1px-slate-900 {
	border-left: solid var(--space-1px) var(--slate-900-color);
}

.border-b-solid-1px-slate-900 {
	border-bottom: solid var(--space-1px) var(--slate-900-color);
}

.border-r-solid-1px-slate-900 {
	border-right: solid var(--space-1px) var(--slate-900-color);
}


.border-l-solid-1px-slate-400 {
	border-left: solid var(--space-1px) var(--slate-400-color);
}

.border-y-solid-1px-white {
	border-bottom: solid var(--space-1px) var(--white-color);
	border-top: solid var(--space-1px) var(--white-color);
}
