.color-bg-complete {
  background-color: var(--complete-color);
}
.color-bg-ontrack {
  background-color: var(--ontrack-color);
}
.color-bg-behind {
  background-color: var(--behind-color);
}
.color-bg-unknown {
  background-color: var(--unknown-color);
}
.color-bg-notstarted {
  background-color: var(--notstarted-color);
}
.color-bg-blocked {
  background-color: var(--blocked-color);
}
.color-bg-warning {
  background-color: var(--warning-color);
}

.color-bg-complete {
  background-color: var(--complete-color);
}
.color-bg-ontrack {
  background-color: var(--ontrack-color);
}
.color-bg-behind {
  background-color: var(--behind-color);
}
.color-bg-unknown {
  background-color: var(--unknown-color);
}
.color-bg-notstarted {
  background-color: var(--notstarted-color);
}
.color-bg-blocked {
  background-color: var(--blocked-color);
}
.color-bg-slate-400 {
  background-color: var(--slate-400-color);
}
.color-bg-warning {
  background-color: var(--warning-color);
}
.color-bg-ahead {
  background-color: var(--ahead-color);
}
.color-bg-new {
  background-color: var(--new-color);
}

.color-text-complete {
  color: var(--complete-color);
}
.color-text-ontrack {
  color: var(--ontrack-color);
}
.color-text-behind {
  color: var(--behind-color);
}
.color-text-unknown {
  color: var(--unknown-color);
}
.color-text-notstarted {
  color: var(--notstarted-color);
}
.color-text-blocked {
  color: var(--blocked-color);
}
.color-text-warning {
  color: var(--warning-color);
}
.color-text-ahead {
  color: var(--ahead-dark-color);
}
.color-text-new {
  color: var(--new-color);
}
.color-text-black {
  color: var(--black-color);
}
.color-text-white {
  color: var(--white-color);
}

.color-text-and-bg-complete {
  background-color: var(--complete-color);
  color: var(--complete-text-color);
}
.color-text-and-bg-ontrack {
  background-color: var(--ontrack-color);
  color: var(--ontrack-text-color);
}
.color-text-and-bg-behind {
  background-color: var(--behind-color);
  color: var(--behind-text-color);
}

.color-text-and-bg-behind-last-period {
  background-color: var(--last-period-behind-color);
  color: var(--black-color);
}

.color-text-and-bg-ahead-last-period {
  background-color: var(--ahead-dark-color);
  color: var(--black-color);
}
.color-text-and-bg-warning-last-period {
  background-color: var(--last-period-warning-color);
  color: var(--black-color);
}
.color-text-and-bg-blocked-last-period {
  background-color: var(--last-period-blocked-color);
  color: var(--white-color);
}

.color-text-and-bg-unknown {
  background-color: var(--unknown-color);
  color: var(--black-color);
  opacity: 0.8;
}
.color-text-and-bg-notstarted {
  background-color: var(--notstarted-color);
  color: var(--notstarted-text-color);
}
.color-text-and-bg-blocked {
  background-color: var(--blocked-color);
  color: var(--blocked-text-color);
}
.color-text-and-bg-warning {
  background-color: var(--warning-color);
  color: var(--warning-text-color);
}
.color-text-and-bg-ahead {
  background-color: var(--ahead-color);
  color: var(--ahead-text-color);
}
.color-text-and-bg-new {
  background-color: var(--new-color);
  color: var(--new-text-color);
}

.color-border-complete {
  border-color: var(--complete-color);
}
.color-border-ontrack {
  border-color: var(--ontrack-color);
}
.color-border-behind {
  border-color: var(--behind-color);
}
.color-border-unknown {
  border-color: var(--unknown-color);
}
.color-border-notstarted {
  border-color: var(--notstarted-color);
}
.color-border-blocked {
  border-color: var(--blocked-color);
}
.color-border-warning {
  border-color: var(--warning-color);
}
.color-border-ahead {
  border-color: var(--ahead-color);
}
.color-border-new {
  border-color: var(--new-color);
}

.color-border-slate-900 {
  border-color: var(--slate-900-color);
}

.color-gray-900 {
  color: #111928;
}
.color-bg-white {
  background-color: var(--white-color);
}
.color-bg-sky-60 {
  background-color: rgb(243 247 253);
}

.color-bg-slate-300 {
  background-color: var(--slate-300-color);
}

.color-bg-gray-20 {
  background-color: var(--gray-10-color);
}

.color-bg-even-slate-300 > *:nth-child(even) {
  background-color: var(--slate-300-color);
}

.drop-shadow-sm {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.drop-shadow-md {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
